* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Varela Round', sans-serif; }
html{
  scroll-behavior: smooth;
}

.index-display{
	background-image: url("../image/index/index-back.jpg");
	background-position:center;
	background-repeat:no-repeat;
	padding:50px;
	height:100vh;
	display:flex;
	.index-image{
		// padding:50px;
		img{
			width:550px;
		}
	}
	.index-heading{
		padding:150px 80px;
		h1{
			font-size:48px;
			margin-bottom:50px;
			color: #692fcc;
		}
		a{
			text-decoration: none;
			color:#692fcc;
			padding:10px 30px;
			border:1px solid #692fcc;
			border-radius:4px;
			margin-right:10px;
			transition:background-color 0.2s;
			&:hover{
				color:white;
				background-color: #692fcc;
				transition:background-color 0.4s;
			}

		}
		#display-button-contrast{
			color:white;
			background-color: #692fcc;
			&:hover{
				color:#692fcc;
				background-color: transparent;
			}
		}

	}
}

@media screen and (max-width: 950px){
	.index-display{
	   padding:50px;
	   display:block;
	   text-align: center;
	.index-image{
		// padding:50px;
		img{
			width:550px;
		}
	}
	.index-heading{
		padding:50px 20px;
		h1{
			font-size:48px;
			margin-bottom:20px;
			color: #692fcc;
		}
		a{
			text-decoration: none;
			color:#692fcc;
			display:block;
			padding:10px 30px;
			border:1px solid #692fcc;
			border-radius:4px;
			margin:10px 0px;
			transition:background-color 0.2s;
			&:hover{
				color:white;
				background-color: #692fcc;
				transition:background-color 0.4s;
			}

		}
		#display-button-contrast{
			color:white;
			background-color: #692fcc;
			&:hover{
				color:#692fcc;
				background-color: transparent;
			}
		}

	}
}
}

@media screen and (max-width: 500px){

	.index-display{
	    padding:50px 20px;
	.index-image{
		// padding:50px;
		img{
			width:300px;
		}
	}
	.index-heading{
		padding:30px;
		h1{
			font-size:28px;
			margin-bottom:20px;
			color: #692fcc;
		}
		a{
			text-decoration: none;
			color:#692fcc;
			padding:10px 30px;
			margin:20px 0px;
			border:1px solid #692fcc;
			border-radius:4px;
			transition:background-color 0.2s;
			&:hover{
				color:white;
				background-color: #692fcc;
				transition:background-color 0.4s;
			}

		}
		#display-button-contrast{
			color:white;
			background-color: #692fcc;
			&:hover{
				color:#692fcc;
				background-color: transparent;
			}
		}

	}
}

}