* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Varela Round", sans-serif;
}

html {
  scroll-behavior: smooth;
}

.index-front {
  background: #692fcc;
  background: linear-gradient(30deg, #692fcc 0%, white 58%, white 100%);
  display: flex;
  padding: 100px 50px 50px 50px;
}
.index-front .image {
  margin: 10px 10px;
}
.index-front .image img {
  width: 700px;
}
.index-front .text {
  margin: 100px 0px;
}
.index-front .text .heading {
  padding: 50px 0px;
  color: #692fcc;
  font-size: 42px;
}
.index-front .text .heading span {
  color: red;
}
.index-front .text .buttons a {
  color: #692fcc;
  text-decoration: none;
  padding: 10px 30px;
  border: 0.5px solid #692fcc;
  margin-left: 10px;
  border-radius: 2px;
  transition: all 0.2s;
}
.index-front .text .buttons a:hover {
  color: whitesmoke;
  background-color: #692fcc;
  transition: all 0.4s;
}
@media screen and (max-width: 1100px) {
  .index-front .image img {
    width: 500px;
  }
  .index-front .text {
    margin: 50px 0px;
  }
  .index-front .text .heading {
    font-size: 32px;
  }
  .index-front .buttons a {
    margin-bottom: 10px;
    text-align: center;
  }
}
@media screen and (max-width: 930px) {
  .index-front .image img {
    width: 300px;
  }
}
@media screen and (max-width: 720px) {
  .index-front {
    background-image: none;
    display: block;
  }
  .index-front .image {
    margin: 10px 10px;
    text-align: center;
  }
  .index-front .image img {
    display: inline-block;
    width: 400px;
  }
  .index-front .text {
    text-align: center;
    margin: 10px;
  }
}
@media screen and (max-width: 500px) {
  .index-front .image img {
    width: 250px;
  }
  .index-front .text a {
    display: block;
  }
}

.explore-section {
  padding: 50px;
  text-align: center;
}
.explore-section h1 {
  font-weight: lighter;
  color: #692fcc;
  padding: 50px 0px 100px 0px;
}
.explore-section .explore-card-wrap {
  display: flex;
  justify-content: space-around;
}
.explore-section .explore-card-wrap .explore-card {
  padding: 10px;
  border-radius: 10px;
  transition: box-shadow 0.2s;
  margin-top: 50px;
}
.explore-section .explore-card-wrap .explore-card img {
  width: 300px;
  padding-bottom: 10px;
}
.explore-section .explore-card-wrap .explore-card p {
  font-size: 24px;
  color: rgba(0, 0, 0, 0.5);
}
.explore-section .explore-card-wrap .explore-card:hover {
  transition: all 0.3s;
  box-shadow: 5px 20px 30px rgba(0, 0, 0, 0.4);
}
@media screen and (max-width: 1200px) {
  .explore-section .explore-card-wrap .explore-card img {
    width: 200px;
    padding: 10px;
  }
}
@media screen and (max-width: 700px) {
  .explore-section {
    padding: 10px;
  }
  .explore-section h1 {
    font-size: 24px;
    padding: 20px 10px 20px 10px;
  }
  .explore-section .explore-card-wrap {
    display: block;
    text-align: center;
  }
  .explore-section .explore-card-wrap .explore-card {
    padding: 20px 0px;
  }
  .explore-section .explore-card-wrap .explore-card img {
    width: 200px;
    padding: 10px;
  }
  .explore-section .explore-card-wrap .explore-card p {
    font-size: 18px;
  }
}

.template-section {
  padding: 100px 50px;
}
.template-section .show-more-template {
  text-align: center;
  padding: 50px;
}
.template-section .show-more-template a {
  padding: 5px 20px;
  text-decoration: none;
  color: #692fcc;
  border-radius: 3px;
  border: 0.5px solid #692fcc;
}
.template-section .show-more-template a:hover {
  transition: all 0.4s;
  box-shadow: 1px 5px 7px rgba(0, 0, 0, 0.2);
}
.template-section h1 {
  color: #692fcc;
  font-weight: lighter;
  font-size: 32px;
  text-align: center;
  padding: 20px 0px 50px 0px;
}
.template-section .template-wrap {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
}
.template-section .template-wrap #custom-template-card .template-pic {
  overflow: hidden;
  width: 100%;
  height: 250px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background: url("../image/index/custom-template-card-back.png");
}
.template-section .template-wrap #custom-template-card .template-desc h3 {
  font-size: 16px;
  padding: 5px;
  font-weight: lighter;
  color: rgba(0, 0, 0, 0.5);
}
.template-section .template-wrap .template-card {
  margin: 20px;
  overflow: hidden;
  box-shadow: 10px 40px 50px rgba(0, 0, 0, 0.4);
  background-color: white;
  border-radius: 30px;
  width: 250px;
  height: 350px;
}
.template-section .template-wrap .template-card .template-pic {
  overflow: hidden;
  width: 100%;
  height: 250px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background: url("../image/index/floxus.png");
}
.template-section .template-wrap .template-card .template-desc {
  text-align: center;
  padding: 10px;
}
.template-section .template-wrap .template-card .template-desc h3 {
  font-weight: lighter;
  color: rgba(0, 0, 0, 0.5);
  padding-bottom: 1px;
}
.template-section .template-wrap .template-card .template-desc h4 {
  color: rgba(255, 0, 0, 0.6);
  font-weight: lighter;
  padding-bottom: 2px;
  margin-bottom: 5px;
}
.template-section .template-wrap .template-card .template-desc a {
  padding: 3px 10px;
  text-decoration: none;
  margin-right: 10px;
  border-radius: 3px;
  color: green;
  border: 0.5px solid green;
  font-weight: lighter;
}
.template-section .template-wrap .template-card .template-desc a:hover {
  box-shadow: 1px 5px 7px rgba(0, 0, 0, 0.2);
  transition: all 0.2s;
}
@media screen and (max-width: 1300px) {
  .template-section .template-wrap {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 1000px) {
  .template-section .template-wrap {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 700px) {
  .template-section .template-wrap {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media screen and (max-width: 500px) {
  .template-section {
    padding: 100px 5px;
  }
}

.custom-templates {
  border: 0.5px solid #692fcc;
  margin: 100px 50px;
  padding: 50px;
  border-radius: 10px;
}
.custom-templates .heading {
  text-align: center;
}
.custom-templates .heading h2 {
  color: #692fcc;
  font-weight: lighter;
}
.custom-templates .custom-theme-elaboration {
  text-align: center;
}
.custom-templates .custom-theme-elaboration img {
  display: inline-block;
  width: 400px;
}
.custom-templates .custom-theme-elaboration p {
  padding: 50px;
  color: rgba(0, 0, 0, 0.5);
  font-size: 18px;
}
.custom-templates .custom-theme-elaboration a {
  margin-top: 10px;
  padding: 5px 10px;
  border-radius: 3px;
  border: 0.5px solid #692fcc;
  text-decoration: none;
  color: #692fcc;
}
.custom-templates .custom-theme-elaboration a:hover {
  color: white;
  background-color: #692fcc;
  transition: all 0.3s;
}
@media screen and (max-width: 600px) {
  .custom-templates .custom-theme-elaboration img {
    width: 300px;
  }
}
@media screen and (max-width: 490px) {
  .custom-templates {
    padding: 20px;
    margin: 50px 50px;
  }
  .custom-templates .custom-theme-elaboration img {
    width: 300px;
  }
  .custom-templates .custom-theme-elaboration p {
    padding: 10px;
    font-size: 16px;
  }
}
@media screen and (max-width: 420px) {
  .custom-templates {
    padding: 20px;
  }
  .custom-templates .custom-theme-elaboration img {
    width: 200px;
  }
  .custom-templates .custom-theme-elaboration p {
    padding: 10px;
  }
}

.faq {
  padding: 20px;
  margin: 100px 20px;
  text-align: center;
}
.faq h2 {
  font-weight: lighter;
  font-size: 32px;
  color: #692fcc;
  padding-bottom: 70px;
}
.faq .accordion {
  text-align: left;
  cursor: pointer;
  font-size: 18px;
  font-family: "Varela Round", sans-serif;
  margin: 5px;
  width: 60%;
  border: none;
  outline: none;
  background-color: white;
  color: #692fcc;
  padding: 7px;
  border-radius: 3px;
  border: 0.5px solid #692fcc;
  transition: background-color 0.2s;
}
.faq .accordion:hover {
  background-color: #692fcc;
  color: white;
  transition: all 0.3s;
}
@media screen and (max-width: 900px) {
  .faq .accordion {
    width: 90%;
    font-size: 16px;
  }
}
.faq .panel {
  margin: 0px 20%;
  display: none;
  padding: 10px 10px 10px 20px;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
@media screen and (max-width: 900px) {
  .faq .panel {
    margin: 0px 5%;
    padding: 0px 0px 0px 20px;
  }
}
.faq .panel p {
  text-align: left;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.5);
}

/*# sourceMappingURL=index.css.map */
