<!DOCTYPE html>
<html>
<head>
	<title>REVED | all templates</title>
	<link rel="icon" type="image/png" sizes="32x32" href="../image/logo/favicon.png">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
	<link rel="stylesheet" type="text/css" href="../style/nav.css">
	<link rel="stylesheet" type="text/css" href="../style/all-templates.css">
	<link rel="stylesheet" type="text/css" href="../style/footer.css">
	<link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">
</head>

<body>


<!-- navbar -->

<div class="navbar active">
	<div class="nav-logo">
		<a href="../index.html"><img src="../image/logo/logo_transparent_small.png"></a>
	</div>
	<div class="nav">
		<ul class="not-nested">
			<li><a href="../index.html#explore">EXPLORE</a></li>
			<li class="dropdown">TEMPLATES
			    <ul class="nested">
			    	<li><a href="#">All templates</a></li>
			    	<li><a href="../index.html#custom">Custom designed</a></li>
			    </ul>
			</li>
			<li class="dropdown">RESOURCES
			    <ul class="nested">
					<li><a href="../index.html#faq">FAQ</a></li>
					<li><a href="#">A good resume</a></li>
			    	<li><a href="#">Your personal website.</a></li>
			    	<li><a href="#">Campus Ambassador</a></li>
			    	<li><a href="#">About Us</a></li>
			    	
			    </ul>
			</li>
		</ul>
	</div>
	<div class="burger">
		<div class="top-burger"></div>
		<div class="mid-burger"></div>
		<div class="bottom-burger"></div>
	</div>
</div>


<!-- main content -->

<div class="main">
    <div class="heading">
        <h1>CHOOSE FROM A WIDE RANGE OF TEMPLATES, PICK A THEME THAT SUITS YOU, GIVE US YOUR REQUIREMENTS, AND ENJOY.</h1>
        <h3>best collection of themes and fully optimized, responsive product guaranteed.</h3>
    </div>
    <div class="template-wrap">
		
		<div class="template-card">
			<div class="template-pic"></div>
			<div class="template-desc">
				<h3>THE FLOXUS THEME</h3>
				<h4>₹ABC</h4>
				<a href="#">Pick</a>
				<a href="#">Preview</a>
			</div>
		</div>
		<div class="template-card">
			<div class="template-pic"></div>
			<div class="template-desc">
				<h3>THE FLOXUS THEME</h3>
				<h4>₹ABC</h4>
				<a href="#">Pick</a>
				<a href="#">Preview</a>
			</div>
		</div>
		<div class="template-card">
			<div class="template-pic"></div>
			<div class="template-desc">
				<h3>THE FLOXUS THEME</h3>
				<h4>₹ABC</h4>
				<a href="#">Pick</a>
				<a href="#">Preview</a>
			</div>
        </div>
        <div class="template-card">
			<div class="template-pic"></div>
			<div class="template-desc">
				<h3>THE FLOXUS THEME</h3>
				<h4>₹ABC</h4>
				<a href="#">Pick</a>
				<a href="#">Preview</a>
			</div>
        </div>
        <div class="template-card">
			<div class="template-pic"></div>
			<div class="template-desc">
				<h3>THE FLOXUS THEME</h3>
				<h4>₹ABC</h4>
				<a href="#">Pick</a>
				<a href="#">Preview</a>
			</div>
        </div>
        <div class="template-card">
			<div class="template-pic"></div>
			<div class="template-desc">
				<h3>THE FLOXUS THEME</h3>
				<h4>₹ABC</h4>
				<a href="#">Pick</a>
				<a href="#">Preview</a>
			</div>
        </div>
        <div class="template-card">
			<div class="template-pic"></div>
			<div class="template-desc">
				<h3>THE FLOXUS THEME</h3>
				<h4>₹ABC</h4>
				<a href="#">Pick</a>
				<a href="#">Preview</a>
			</div>
        </div>
        <div class="template-card">
			<div class="template-pic"></div>
			<div class="template-desc">
				<h3>THE FLOXUS THEME</h3>
				<h4>₹ABC</h4>
				<a href="#">Pick</a>
				<a href="#">Preview</a>
			</div>
		</div>
		<div class="template-card" id="custom-template-card">
			<div class="template-pic"></div>
			<div class="template-desc">
				<h3>Just give us instructions, and get your custom website.</h3>
				<a href="../index.html#custom">Learn more</a>
			</div>
		</div>
	</div>
</div>


<!-- footer -->

<div class="footer">
	<div class="footer-logo">
        <img src="../image/logo/logo_transparent_small.png">
	</div>
	<div class="footer-social">
		<a href="#"><img src="../image/logo/facebook.png"/></a>
		<a href="#"><img src="../image/logo/instagram.png"/></a>
		<a href="#"><img src="../image/logo/linkedin.png"/></a>
		<!-- <a href="#"><img src="image/logo/telegram.png"/></a> -->
	</div>
	<div class="terms">
		<a href="#">Terms & Privacy</a>
	</div>
	<div class="copyright">
		<p>&copy;2020 | REV.ED  all rights reserved</p>
	</div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" crossorigin="anonymous"></script>
<script type="text/javascript" src="../script/index.js"></script>

</body>
</html>